html{font-size: 16px;}


*:focus{outline: none;}
.container{
  padding: 0;
    margin: 0;
    width: 1200px;
    margin: 0 auto;
}
                      /* --------HEADER--------- */
.logo-navigation{

  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;  
}

  .menu{
    display: flex;
    flex-basis: 490px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
  }
  /* .menu-list{
  } */
  
  .menu-list-item{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color:#95e1d3;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: calc(17/14);
   
   }


  .menu-list-item:hover{
    color:#f38181;
    border-bottom: 3px solid #f38181;
    padding-bottom: 10px;
  }
     





   
/* ------------------------------------STYLE FOR H2 NEW COLECTION --------------------------*/
.first_h2 {
  margin: 0;
  padding: 0;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
  text-align: center;
  font-size: 1.5rem;
  line-height: calc(29/24);
  padding-top: 100px;

}
.style_h2{
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
     color: #333333;
     text-align: center;
     text-transform: uppercase;
     font-size: 1.875rem;
     line-height: calc(36/30);
     font-weight: 700;
     padding-top: 1.1250rem;
      }

.style_h2::after{
    padding: 0;
    margin: 0;
    content: "";
    display:block;
    width: 3.75rem;
    margin:auto; 
    margin-top: 2.44rem;
    margin-bottom: 4rem;
    border-bottom:  0.19rem solid #f38181;
}

.service-container{
}
.servises{
  flex-basis: 1182px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.cards{
  position: relative;
 min-height: 65px;
flex-basis: 300px;
padding-left: 65px;
padding-bottom: 65px;
}
.cards-h3{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: calc(17/14);
  text-transform: uppercase;
  color: #333333;
}
p{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
line-height: calc(24/15);
color: #999999;
}
.cards-h3::before{
  position: absolute;
  left:0;
  /* display: inline-block; */
  width: 35px;
  height: 35px;
  content: url(../img/ALARM.png);
}

















/* --------------------------------TEAM------------------------- */

.first_h2{
  margin: 0;
  padding: 0;
}
.describe-team{
  display: block;
  width: 945px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 93px;
}
.amaz-serveces::after{
  content: "";
  margin-bottom: 45px;
}

.team-cards{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-basis: 1200px;
  min-height: 625px;
}
.title-card h4{
  margin: 0;
  padding: 0;
  text-align: center;
}
.title-card span {
  margin: 0;
  padding: 0;
  display: block;
  text-align: center;
}

.card img{
  width: 380px;
  height: 470px;
  background-color: #95e1d3;
}
.card:hover img{
  transform: translate(-10px,-10px);
}

/* -------------------------------footer-------------------------- */
.foot{
  position: relative;
  height: 88px;
  background-color: #323232;
  width: 1200px;
  margin: auto;
}

.footer-info{
  position: absolute;
  font-family: 'Open Sans', sans-serif; 
  color:#ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(28/16);
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  }
  #themengraph{
    color: #46bfa9;
  }          
