html{font-size: 16px;}


*:focus{outline: none;}
.container{
  padding: 0;
  background-color: antiquewhite;
    margin: 0;
    width: 1200px;
    margin: 0 auto;
}
                      /* --------HEADER--------- */
.logo-navigation{

  display: flex;
  justify-content: space-between;
  min-height: 80px;
  align-items: center;  
}

  .menu{
    display: flex;
    flex-basis: 490px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
  }
  /* .menu-list{
  } */
  
  .menu-list-item{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color:#95e1d3;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: calc(17/14);
   
   }


  .menu-list-item:hover{
    color:#f38181;
    border-bottom: 3px solid #f38181;
    padding-bottom: 10px;
  }
     





   
/* ------------------------------------STYLE FOR H2 NEW COLECTION --------------------------*/
.first_h2 {
  margin: 0;
  padding: 0;
  font-family: 'Kaushan Script', cursive;
  color: #333333;
  text-align: center;
  font-size: 1.5rem;
  line-height: calc(29/24);
  padding-top: 100px;

}
.style_h2{
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
     color: #333333;
     text-align: center;
     text-transform: uppercase;
     font-size: 1.875rem;
     line-height: calc(36/30);
     font-weight: 700;
     padding-top: 1.1250rem;
      }

.style_h2::after{
    padding: 0;
    margin: 0;
    content: "";
    display:block;
    width: 3.75rem;
    margin:auto; 
    margin-top: 2.44rem;
    /* margin-bottom: 4.3rem; */
    border-bottom:  0.19rem solid #f38181;
}

.service{
  background-color: #f0fa6b;
}
.servises{
  flex-basis: 1182px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.cards{
  position: relative;
 
flex-basis: 300px;
padding-left: 40px;
}

.cards-h3::before{
  position: absolute;
  display: inline-block;
  content: url(../img/ALARM.png);
  left:0;



}

/* -------------------------------footer-------------------------- */
.foot{
  position: relative;
  height: 88px;
  background-color: #323232;
  width: 1200px;
  margin: auto;
}

.footer-info{
  position: absolute;
  font-family: 'Open Sans', sans-serif; 
  color:#ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(28/16);
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  }
  #themengraph{
    color: #46bfa9;
  }          
