html{font-size: 16px;}

.container{
    width: 900px;
    margin: 0 auto;
   
}
p{
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 0.875rem;
    line-height: calc(24/14);
    color: #626262;

}

h2{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.875rem;
    line-height: calc(17/14);
    color: #b4ad9e;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1.94rem 0 1.625rem 0;
}

h3{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 1.875rem;
    line-height: calc(36/30);
    color: #626262;
    padding-bottom: 2.25rem;
}

.h3_box1{
    letter-spacing:-0.3px;
}


.page-nav{
    padding: 4.5rem 0 6.13rem 0;
}
.menu{ 
     padding: 0;
     margin: 0;
     list-style: none;
     text-align: center;
    }
    
    .menu_list{
       display: inline-block;
       padding-right: 6.25rem;
       /* padding-left:   */
}
.menu_list:first-child{padding-left: 6.25rem;}



.menu_link{
    font-family: 'Playfair Display', serif;
    line-height: calc(24/14);
    font-size: 0.875rem;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
   
            }

 .menu_link:hover {
     color:#03a9f4;
    }

 .box
 { 
     display: inline-block;
     width: 420px;
     vertical-align: top;
    
} 
   
.box1, .box3, .box5 
    {

        margin-right: 3.5rem; 
    }

.box3,.box4,.box5,.box6
    {
    margin-top: 8.13rem;
    }

.container_button{ text-align: center;}
.btn{
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    color: #626262;
    line-height:calc(24/20);
    background-color: transparent;
    border: 0.063rem solid #626262;
    padding: 1rem 2rem;
    margin-top: 3.25rem;
    margin-bottom: 1rem;
}
.btn:active {
    background:#d3d3d3;
}
.btn:focus{
        outline:none;
} 