
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-shuffle:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-left-open-big:before { content: '\e804'; } /* '' */
.icon-right-open-big:before { content: '\e805'; } /* '' */