html{font-size: 16px;}

/* img{
  display: block;
max-width: 100%;
height: auto;
} */
.container-header{
  padding: 0;
    margin: 0;
    width: 1170px;
    margin: 0 auto;
    /* background-color: beige; */

}
.container{
    padding: 0;
    margin: 0;
    width: 1600px;
    margin: 0 auto;
    background-color: beige;
}
                                          /* STYLE FOR LOGO */
.logo{
  float: left;
  padding: 0;
  margin: 0;
  height: 21px;
  width: 78px;
  margin-left: 30px;
  margin-top: 2.5rem;
}

                                    /* STYLE FOR NAVIGATION*/
.menu{
    margin: 0;
    text-transform: uppercase;
  }

.menu-list-item{
  font-family: 'Open Sans', sans-serif; 
  color:#0f0101;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: calc(14/11);
}
  .menu-list{
  float: right;
  list-style: none;
  padding: 2.7rem 1.8rem 2.25rem 1.8rem ;
}
.menu-list-item:hover{color:#1abc9c;}


 /* SLIDERS */
.sliders{
position: relative;
  margin: 0;
  padding: 0;
  width: 1600px;
  height: 700px;
  margin-bottom: 6rem;
}

.bg-color_for_image{
  position: absolute;
  width: 1600px;
  height: 700px;
  background-color: black;
z-index: 10;
opacity: 0.52;
}

/* -----------------BUTTONS------------------ */
/* .buttons{position: absolute;} */
.slider-control{
  padding: 0;
  position:absolute;
  border: none;
  background-color: #1abc9c;
  width: 104px;
  height: 104px;
  top:50%;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 64px;
  }
.control-left{
  left:230px;
  z-index: 100;
  opacity: 0.65;
}
.control-right{
  right:230px;
  z-index: 100;
  opacity: 0.5;
}
.control-left:hover{opacity: 1;}
.control-right:hover{opacity: 1;}
.slider-control:focus{outline:none;}

/* -------------------------SLIDER UL----------------- */
.slider-list{
  margin: 0;
  padding: 0;
  list-style: none;
  
}
.slider-item{
  position: relative; 
  }
 

.slider-img{
    height: 700px;
    width: 100%;
    object-fit: cover;


  }
  .slider-titel1{
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color:#ffffff;
    font-size: 60px;
    line-height: calc(82/60);
    top: 40%;
    left:26.5%;
    z-index: 101;
      }

      .slider-titel2{
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:#ffffff;
    font-size: 24px;
    line-height: calc(54/24);
    left:26.5%;
    top: 51.7%;
    z-index: 101;

 }
















                            /* STYLE FOR H2 FEATURED PRODUCT */
.style_h2{
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
     color: #515151;
     text-align: center;
     text-transform: uppercase;
     font-size: 3rem;
     line-height: calc(58/48);
     font-weight: 600;
     
    }

.style_h2::after{
    padding: 0;
    margin: 0;
    content: "";
    display:block;
    width: 10.25rem;
    margin:auto; 
    margin-top: 1.18rem;
    margin-bottom: 3.875rem;
    border-bottom:  0.44rem solid #4ec6ab;
}

                                  /*  STYLE FOR  featured products*/

.all_item{
}



.name,.price{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: calc(32/18);
  padding: 0.25rem 0.75rem 0 0.87rem;
}
.name{
  float: left;
}
.price{
  float: right;
}

.box-content{
  width: 255px;
  height: 282px;
  background-color: #e9f0fd; 
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.box{
  float: left;
  margin-left: 1.875rem;
  margin-top: 1.875rem;
}

  .prod_name{
    margin: 0;
    width: 255px;
    height: 40px;
    background: linear-gradient(to right, #323232 0%, #323232 78.8%, #8c8c8c 78.8%, #8c8c8c 100% );
}

.clearfix::after{
  display: table;
  content: '';
  clear: both;
}


.box:hover .prod_name{
   background: linear-gradient(to right, #1abc9c 0%, #1abc9c 78.8%, #7fd9c7 78.8%, #7fd9c7 100% );

}
          
 