html{font-size: 16px;}
.clearfix::after{
  display: table;
  content: '';
  clear: both;
}

*:focus{outline: none;}

.container-header{
  padding: 0;
    margin: 0;
    width: 1170px;
    margin: 0 auto;

}
.container{
    padding: 0;
    margin: 0;
    margin: 0 auto;
}
 /* -------------------------------------------STYLE FOR LOGO----------------------------------- */
.logo{
  float: left;
  padding: 0;
  margin: 0;
  height: 21px;
  width: 78px;
  margin-left: 1.875rem;
  margin-top: 2.5rem;
  animation: logo-appear 1s linear;
}

@keyframes logo-appear{
  0%{
    transform: translateY(-70px);
  }
  100%{
    transform: translateY(0);
  }
  
}

 /*----------------------------------------- STYLE FOR NAVIGATION-------------------------*/
.menu{
    margin: 0;
    text-transform: uppercase;
  }

.menu-list-item{
  font-family: 'Open Sans', sans-serif; 
  color:#0f0101;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: calc(14/11);
}
  .menu-list{
  float: right;
  list-style: none;
  padding: 2.7rem 1.8rem 2.25rem 1.8rem ;
}
.menu-list-item:hover{color:#1abc9c;}


 /* ------------------------------------SLIDERS-CONTAINER------------------------------- */
.sliders{
  margin: 0;
  padding: 0;
  width: 100%;
 

}

.btn-title{
  position: absolute;
  width: 1600px;
  margin: 0 auto;
  height: 700px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;

}


/* --------------------------------------BUTTONS FOR SLIDERS------------------ */
.slider-control{
  padding: 0;
  position:absolute;
  border: none;
  background-color: #1abc9c;
  width: 104px;
  height: 104px;
  top:50%;
  transform: translateY(-50%);
  color: #ffffff;
  }

.control-left{
padding-right: 0.25rem;
  left:245px;
  z-index: 100;
  opacity: 0.65;
}
.control-right{
  right:245px;
  z-index: 101;
  opacity: 0.65;
}

.control-left::before,
.control-right::before{
   content: "";
  --s: 28px;
  --bd: 4px solid #fff;
  width: var(--s);
  height: var(--s);
  border-left:  var(--bd);
  border-top:  var(--bd);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.control-left::before{
  left:55%;
  }

.control-right::before{
  transform: translate(-50%, -50%) rotate(135deg);
  left:45%;

}
.control-left:hover{opacity: 1; cursor: pointer;}
.control-right:hover{opacity: 1; cursor: pointer;}

/* ------------------------------------SLIDER LIST ( UL )----------------- */
.slider-list{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;

  }

.slider-item{
  position: relative;
  width: 100%;
  min-height: 700px;
  background-image: linear-gradient(rgba(0,0,0,0.52),rgba(0,0,0,0.52)), url('../img/slide.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;

  }
 

  /* -------------------------------------title for sliders------------------- */
  .slider-title{
    font-family: 'Roboto', sans-serif;
    position: absolute;
     padding: 0;
     top: 50%; 
    z-index: 101;
    left:50%;
    transform: translate(-50%,-50%);
    color:#ffffff;

  }
  
  .slider-titel1{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 3.75rem;
    line-height: calc(82/60);
      }
      .slider-titel2{
        margin: 0;
        padding: 0;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: calc(54/24);
      }

/* ------------------------------------STYLE FOR H2 NEW COLECTION --------------------------*/
.style_h2{
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
     color: #515151;
     text-align: center;
     text-transform: uppercase;
     font-size: 3rem;
     line-height: calc(58/48);
     font-weight: 600;
     padding-top: 5.93rem;
      }

.style_h2::after{
    padding: 0;
    margin: 0;
    content: "";
    display:block;
    width: 10.25rem;
    margin:auto; 
    margin-top: 1.18rem;
    margin-bottom: 4.3rem;
    border-bottom:  0.44rem solid #4ec6ab;
}

  /* --------------------------------- STYLE FOR  NEW COLECTION-----------------------------*/

.container_products{
  background-color: #e9f0fd;
  min-height: 676px;
  width: 1600px;
  margin: 0 auto;

}
.container-cards{
  max-width: 1110px;
  margin: 0 auto;
}
.prebox{
  float:left;
  margin: 0 0 30px 30px;
 }

.box{
  position: relative;
  width: 255px;
  height: 322px;
}

.prebox:nth-of-type(4n-3)  {
  margin-left: 0;}

.box-img{
  width: 255px;
  height: 282px;
  font-size: 0;
}

.overlay
{
      position: absolute;
      transition: 0.3s ease-in-out;
      top: 10px;
      left: 10px;
      width: 235px;
      height: 262px;
      opacity: 0;
      background-color: #0f0101
    }

    .box-name-price{
      position: absolute;
      bottom: 0;
      margin: 0;
      height: 40px;
      width: 255px;
      background: linear-gradient(to right, #323232 0%, #323232 78.8%, #8c8c8c 78.8%, #8c8c8c 100% );
    }

.name,.price{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: calc(32/18);
  padding-top: 0.3rem;
  
}
.name{float: left; padding-left: 0.625rem;}
.price{float: right; padding-right: 0.625rem;}

  
  
      /* --------------------------------BUTTON INSIDE CART---------------- */
      .container-button{ 
               background-color:transparent;
               border: 1px #ffffff solid;
               position: absolute;
               top:90px;
               color:white;
               display: none;
               width: 50px;
               height: 50px;
               transition: 0.2s ease-in-out;
      }
      
      .b1{
        left:45px;
        font-size: 1.875rem;
        padding: 0;
      }   
      
      .b2{
        left:104px;
        font-size: 1.875rem;
        padding: 0;
          }  
      
      .b3{
        left:160px;
        font-size: 1.875rem;
        padding: 0;
      } 
      
      .b4{
         width: 166px;
        top: 147px;
        left:45px;
        font-size: 1.875rem;
        padding: 0.375rem 0.31rem;
        text-align: left;
        background-color: #323232;    
        overflow: hidden;
      }

      .add-to-cart{padding: 0.31rem;
        font-family: 'Open Sans', sans-serif;
        vertical-align: top;
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;
      }

 /*------------------------------------ H O V E R S------------------------------------------------- */

.b1:hover {background-color: #1abc9c; cursor: pointer;}
.b2:hover {background-color: #1abc9c; cursor: pointer;}
.b3:hover {background-color: #1abc9c; cursor: pointer;}
.b4:hover {background-color: #1abc9c; cursor: pointer;}
.box:hover .overlay {opacity: 0.55;}
.box:hover .container-button {display: block}
.box:hover .box-name-price{
   background: linear-gradient(to right, #1abc9c 0%, #1abc9c 78.8%, #7fd9c7 78.8%, #7fd9c7 100% );}



/* -------------------------------footer-------------------------- */
.foot{
  position: relative;
  height: 88px;
  background-color: #323232;
  /* width: 1600px; */
  margin: auto;
}
.footer-info{
  position: absolute;
  font-family: 'Open Sans', sans-serif; 
  color:#ffffff;
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(28/16);
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  }
  #themengraph{
    color: #46bfa9;
  }          
