.footer {
    @extend %container;
    min-height: 62px;
    @include center-flex("ver");
    justify-content: space-between;
  }
  
  .footer__info {
    font-family: $main-font;
    color: $primary-dark-color;
    @include font-settings(0.875rem, 1.2, 400);
     
  }
  #footer-info--color {
    color: $secondary-color;
  }