 
.page-nav {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    align-items: center;
  }
  
  .site-navigation {
    
    display: flex;
    width: 52%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;

    &__link {
      font-family: $main-font;
      text-transform: uppercase;
      color: $primary-white-color;
      text-decoration: none;
      @include font-settings(0.875rem, 1.2, 400);
      transition: 0.2s linear;
      border-bottom: 3px solid transparent;
      
      &:hover {
        color: $bg-andhover-color;
        border-bottom: 3px solid $bg-andhover-color;
        padding-bottom: 0.63rem;
      }
    }
  }
    
  
  .site-navigation__link--icon {
    width: 18px;
    height: 18px;
    fill: $primary-white-color;
 
    &:hover {
      fill: $bg-andhover-color;
    }
  }
  