
.page-header {
    padding: 0;
    margin: 0 auto 2.81rem auto;
    max-width: 100%;
    min-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    background-image: linear-gradient(
        rgba(243, 129, 129, 0.9),
        rgba(252, 227, 138, 0.9)
      ),
      url("../images/background-min.jpg");

      
      @media  (min-resolution: 192dpi),
             (min-resolution: 2dppx) {
       .page-header {
          background-image: linear-gradient(
              rgba(243, 129, 129, 0.9),
              rgba(252, 227, 138, 0.9)
            ),
            url("../images/background@2x-min.jpg");
        }
}
      
      &--active:active {
        background-color: $primary-white-color;
        transition: 0.2s all linear;
      }

      &__title {
        @extend %reset;
        font-family: $title-font;
        color: $primary-white-color;
        @include font-settings(4.5rem, 1.2, 400);
        padding: 9.38rem 0 0 0;
      }

  
      &__main-title {
        @extend %reset;
        font-family: $main-font;
        color: $primary-white-color;
        @include font-settings(9.38rem, 0.93, 700);
        padding: 1.31rem 0 0 0;
        text-transform: uppercase;
      }
      
      &-button {
        text-align: center;
        padding-top: 7rem;
      }

      &__btn {
         background-color: transparent;
         @extend %button;
         border: 3px solid $primary-white-color;
         color: $primary-white-color;
         font-family: $main-font;
         @include font-settings(0.88rem, 1.2, 700);
         padding: 0.63rem 1.75rem;
       }
  }
  