.team{
    @extend %container;
    border-bottom: 1px solid $placeholder-text;
    
    &__describe {
      @extend %reset;
      display: block;
      width: 945px;
      margin: 2.81rem auto 0 auto;
      padding-bottom: 5.8rem;
      font-family: $text-font;
      @include font-settings(0.94rem, 1.6);  
      color: $text-color;
    }
    
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 380px;
      height: 470px;
     
      &--gradient {
        
        background: linear-gradient(to bottom, $secondary-color, $bg-andhover-color);
        opacity: 0;
        
        transition: 0.2s linear;
      }
    
    }
  
  }
  /* ------------------------------------------C A R D S--------------------------------- */
  .team-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 1200px;
    min-height: 625px;
  }

  .team-list-item {
    position: relative;
      
    &:hover .photo__img {
        transform: translate(-10px, -10px);
      }

      &:hover .socials {
        opacity: 1;
        
        transform: translate(-10px, -10px);
      }

      &:hover .team__overlay--gradient {
        opacity: 0.9;
        
        transform: translate(-10px, -10px);
      }
      
  }

  .photo {
    margin: 0;
    padding: 0;
    min-width: 380px;
    max-height: 470px;
    background-color: $bg-and_icon-color;

    &__name {
    font-family: $main-font;
    @extend %reset;
    @include font-settings(0.88rem, 1.2);
    color: $primary-dark-color;
    text-transform: uppercase;
    padding: 0.62rem;
  }
    &__occupation {
    font-family: $text-font;
    @extend %reset;
    display: block;
    @include font-settings(0.94rem, 1.2);
    font-style: italic;
    color: $text-color;
  }

    &__img {
      transition: 0.2s linear;
    }
  }
  
  
  
  .socials {
    width: 380px;
    height: 470px;
    position: absolute;
    top: 0px;
    left: 0px;
    @include center-flex("all");
    opacity: 0;
    transition: 0.2s linear;

    &__icon {
      width: 32px;
      height: 32px;
      fill: $secondary-color;
      transition: 0.3s linear;
    }
    
  }
  
  .socials__item {
    width: 55px;
    height: 55px;
    border: none;
    background-color: $bg-andhover-color;
    border-right: 1px solid $border-color;
    transition: 0.3s linear;
    
    &--color:hover {
      cursor: pointer;
      background-color: $secondary-color;
      transition: 0.3s linear;
    }
    
    &:last-of-type {
      border: none;
    }
    
    &:hover .socials__icon {
      fill: $primary-white-color;
      transition: 0.3s linear;
    }

  }
