.wrap
{
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
width: 100vh;
height: 100vh;
background-color: rgb(228, 228, 228);

}

.btn{
     width: 30px;
    height: 30px;
     display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    justify-content: space-between; 
     align-items: flex-start;
}
.l{
width: 30px;
height: 2px;
background-color: #000000;
}

/* .l::after{
display: inline-block;
    content: "";
    border: 1px solid lime;
    width: 28px;


}

.l::before{
    display: inline-block;
        content: "";
        border: 1px solid red;
        width: 28px;
}
     */
    /* }


.btn:hover{
    background-color: rgb(211, 211, 211);
} */






 .btn:hover .top{
    animation: rotate 2s linear;
}


@keyframes rotate{

0%{

    transform-origin:right center 50px;
    /* -webkit-transform: matrix(1, 0, -0.5, 1, 0, 0); */
    transform: rotatez(0deg);

}

100%
{
    transform: rotatez(-45deg);

}
}


