.section {
  text-align: center;
  width: 100%;
}
#categories {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-column-gap: 100px;
  padding: 0;
  width: 560px;
  margin: 0 auto;
}
.wrap-categories {
}
ul {
  list-style: none;
}
.list {
  font-size: 35px;
  list-style: none;
  margin-top: 100px;
  text-align: center;
}
.list__item {
  color: brown;
  font-size: 20px;
}
.list-gallery {
  padding: 25px;
  width: 490px;
  display: grid;
  list-style: none;
  grid-template-columns: min-content min-content;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  margin: 0 auto;
  border: 2px solid #f30909;
  align-items: center;
  margin-bottom: 25px;
}

.containerBtn {
  text-align: center;
}

.button,
#controls button {
  margin: 25px;
  padding: 15px;
  cursor: pointer;
  background-color: #777777;
  font-size: 20px;
  color: white;
  line-height: 1;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.button:active,
#controls button:active {
  background-color: #aca7a7;
}
.button:focus,
#controls button:focus {
  outline: none;
}
.value-counter {
  display: inline-block;
  width: 30px;
  color: black;
  font-size: 25px;
}

/* for task 6 */
#validation-input,
#name-input,
#controls input {
  border: 3px solid #bdbdbd;
  width: 200px;
  font-size: 20px;
  padding: 10px;
  left: 50%;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

/* for 7 task */
input[type='range'] {
  -webkit-appearance: none;
  width: 250px;
  margin: 25px;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100px;
  height: 4px;
  cursor: pointer;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 22px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

/* ----------task 8 ----------- */

#boxes {
  display: flex;
  flex-wrap: wrap;
}
#controls {
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 55px;
}
#controls input {
  width: 50px;
}
