html{font-size: 16px;}

.container{
    padding: 0;
    margin: 0;
    width: 1170px;
    margin: 0 auto;
}
/* STYLE FOR LOGO */
.logo{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: calc(48/32);
  margin: 0;
  float: left;
  text-transform: uppercase;
  color: #555252;
  font-size: 1.875rem;
  padding-left: 1.75rem; 
  padding-top: 2rem;
  
}

.logo::before{
  content:"m";
  font-weight: 600;
  color:#1abc9c;
}

             /* STYLE FOR NAVIGATION*/
             .menu-list{
               margin: 0;
               text-transform: uppercase;
  }

.menu-item a{
  font-family: 'Open Sans', sans-serif; 
  color:#0f0101;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: calc(14/11);
}

  .menu-item{
  float: right;
  list-style: none;
  padding: 2.7rem 1.8rem 6.5rem 1.8rem ;
}

.menu-item a:hover{color:#1abc9c;}


/* STYLE FOR H2 FEATURED PRODUCT */
.style_h2{
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
     color: #515151;
     text-align: center;
     text-transform: uppercase;
     font-size: 3rem;
     line-height: calc(58/48);
     font-weight: 600;
     
    }

    .style_h2::after{
    padding: 0;
    margin: 0;
    content: "";
    display:block;
    width: 10.25rem;
    margin:auto; 
    margin-top: 1.18rem;
    margin-bottom: 62px;
    border-bottom:  0.44rem solid #4ec6ab;
}

/*  STYLE FOR  featured products*/

.name,.price{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: calc(32/18);
  padding: 0.25rem 0.75rem 0 0.87rem;
}
.name{
  float: left;
}
.price{
  float: right;
}


  .prod_name{
    margin: 0;
    width: 255px;
    height: 40px;
    background: linear-gradient(to right, #323232 0%, #323232 78.8%, #8c8c8c 78.8%, #8c8c8c 100% );
}

.box::before{
  content: '';
  display: block;
  background-color: #e9f0fd;
  height: 282px;
  width: 255px;
  background-repeat: no-repeat;
  background-position: center;
}
.clearfix::after{
  display: table;
  content: '';
  clear: both;
}

.box{
  float: left;
  margin-left: 30px;
  margin-top: 30px;
}

.box:hover>.prod_name{
   background: linear-gradient(to right, #1abc9c 0%, #1abc9c 78.8%, #7fd9c7 78.8%, #7fd9c7 100% );

}

.prod1::before{
  content: '';
  background-image: url('../img/shoes.png');
}
.prod2::before{
  content: '';
  background-image: url('../img/product2.png');
}
.prod3::before{
  content: '';
  background-image: url('../img/product3.png');
}
.prod4::before{
  content: '';
  background-image: url('../img/product4.png');
}
.prod5::before{
  content: '';
  background-image: url('../img/product5.png');
}
.prod6::before{
  content: '';
  background-image: url('../img/product6.png');
}
.prod7::before{
  content: '';
  background-image: url('../img/product7.png');
}
.prod8::before{
  content: '';
  background-image: url('../img/product8.png');
}
          
              /*  STYLE FOR  LATEST NEWS*/

.section-blog h2{   
  margin-bottom: 0;
  padding-top: 6.25rem;
}
.section-blog h2::after{
  margin-bottom: 0;}

  .blog{
  width: 350px;
  float: left;
  margin-left: 30px;
  margin-top: 81px;
}       

.h3-blog
{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #555252;
  font-size: 18px;
  font-weight: 600;
  line-height: calc(26/18);
  margin-top: 5px;
  
}
.h3-blog::after{
  padding: 0;
  margin: 0;
  content: '';
  display:block;
    width: 8.5rem;
   margin-top: 0.5rem;
    border-bottom:  0.19rem solid #4ec6ab;
    }
.p-blog
{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(26/14);
  margin-bottom: 13px;
  margin-top: 23px;
  letter-spacing:-0.3px
}



            /* STYLE FOR BUTTON */
.btn{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
  line-height:calc(26/16);
  background-color: #4ec6ab;
  border: none;
  padding: 13px 40px;
  border-radius: 4px;
  margin-bottom: 81px;

}
.btn:focus{
  outline:none;
} 
.btn:active {
  background:#7fd9c7;
}