html{font-size: 16px;}

.container{
    padding: 0;
    margin: 0;
    width: 1170px;
    margin: 0 auto;
}
                                          /* STYLE FOR LOGO */
.logo{
  float: left;
  padding: 0;
  margin: 0;
  height: 21px;
  width: 78px;
  margin-left: 30px;
  margin-top: 2.5rem;
}

                                    /* STYLE FOR NAVIGATION*/
.menu{
    margin: 0;
    text-transform: uppercase;
  }

.menu-list-item{
  font-family: 'Open Sans', sans-serif; 
  color:#0f0101;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: calc(14/11);
}

  .menu-list{
  float: right;
  list-style: none;
  padding: 2.7rem 1.8rem 6.25rem 1.8rem ;
}

.menu-list-item:hover{color:#1abc9c;}


                            /* STYLE FOR H2 FEATURED PRODUCT */
.style_h2{
     margin: 0;
     padding: 0;
     font-family: 'Roboto', sans-serif;
     color: #515151;
     text-align: center;
     text-transform: uppercase;
     font-size: 3rem;
     line-height: calc(58/48);
     font-weight: 600;
     
    }

.style_h2::after{
    padding: 0;
    margin: 0;
    content: "";
    display:block;
    width: 10.25rem;
    margin:auto; 
    margin-top: 1.18rem;
    margin-bottom: 3.875rem;
    border-bottom:  0.44rem solid #4ec6ab;
}

                                  /*  STYLE FOR  featured products*/

.name,.price{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: calc(32/18);
  padding: 0.25rem 0.75rem 0 0.87rem;
}
.name{
  float: left;
}
.price{
  float: right;
}

.box-content{
  width: 255px;
  height: 282px;
  background-color: #e9f0fd; 
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.box{
  float: left;
  margin-left: 1.875rem;
  margin-top: 1.875rem;
}

  .prod_name{
    margin: 0;
    width: 255px;
    height: 40px;
    background: linear-gradient(to right, #323232 0%, #323232 78.8%, #8c8c8c 78.8%, #8c8c8c 100% );
}

.clearfix::after{
  display: table;
  content: '';
  clear: both;
}


.box:hover>.prod_name{
   background: linear-gradient(to right, #1abc9c 0%, #1abc9c 78.8%, #7fd9c7 78.8%, #7fd9c7 100% );

}
          
                                   /*  STYLE FOR  LATEST NEWS*/

.section-blog h2{   
  margin-bottom: 0;
  padding-top: 6.25rem;
}
.section-blog h2::after{
  margin-bottom: 0;}

  .blog{
  width: 350px;
  float: left;
  margin-left: 1.875rem;
  margin-top: 5.06rem;
}       

.h3-blog
{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #555252;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: calc(26/18);
  margin-top: 0.31rem;
  
}
.h3-blog::after{
  padding: 0;
  margin: 0;
  content: '';
  display:block;
    width: 8.5rem;
   margin-top: 0.5rem;
    border-bottom:  0.19rem solid #4ec6ab;
    }
.p-blog
{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 0.88rem;
  line-height: calc(26/14);
  margin-bottom: 0.81rem;
  margin-top: 1.44rem;
  letter-spacing:-0.3px
}

                                       /* STYLE FOR BUTTON */
.btn{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
  line-height:calc(26/16);
  background-color: #4ec6ab;
  border: none;
  padding: 0.81rem 2.5rem;
  border-radius: 0.25rem;
  margin-bottom: 5rem;

}
.btn:focus{
  outline:none;
} 
.btn:active {
  background:#7fd9c7;
}