@media (max-width: 767px) {
  .item {
    margin: 0 auto;
    margin-bottom: 1.75rem;
  }
}

@media (min-width: 768px) {
  .wrapper {
    min-height: 700px;
    width: 100%;
  }
  .nav {
    flex-direction: row-reverse;
  }
  .menu {
    margin: 0;
    padding: 0;
    padding-top: 2.38rem;
  }

  .menu-list {
    margin: 0;
  }

  .menu-list-item {
    padding: 0;
    line-height: 2.2;
  }
  .u-logo {
    margin: 0;
    padding-top: 2.75rem;
  }

  .header-titel {
    margin: 0;
    font-size: 3.25rem;
    padding-top: 9rem;
  }

  .header-text {
    padding: 0;
    padding-top: 1.25rem;
    font-size: 1.5rem;
  }
  .find-partner {
    margin-top: 2rem;
  }
  .find-partner-item {
    min-width: 227px;
  }

  .item {
    margin-bottom: 0;
  }

  .title-partners {
    padding-top: 4.25rem;
    margin-bottom: 1.88rem;
  }

  .buton-other-partners {
    padding: 0;
    padding: 0.625rem 1.625rem;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .col-md-6:not(:nth-last-child(-n + 2)) {
    margin-bottom: 3.63rem;
  }

  .buton-other-partners {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }
}

@media (min-width: 992px) {
  .col-lg-3:not(:nth-last-child(-n + 4)) {
    margin-bottom: 3.62rem;
  }

  .item {
    width: 210px;
  }

  .buton-other-partners {
    margin-bottom: 4.56rem;
    margin-top: 2.5rem;
  }
}
