%container {
    padding: 0;
    margin: 0 auto;
    width: 1200px;
}

%reset{
    margin: 0;
    padding: 0;
    text-align: center;
}

%button{
    cursor: pointer;
         text-transform: uppercase;
         border: none; 
}