$main-font: "Montserrat", sans-serif;
$title-font: "Kaushan Script", cursive;
$text-font: "Roboto", sans-serif;

$primary-white-color: #ffffff;
$primary-dark-color: #333333;
$text-color: #999999;
$bg-andhover-color: #fce38a;
$secondary-color:#f38181;
$bg-and_icon-color: #95e1d3;
$placeholder-text:#cccccc;
$border-color: #f9bd87;
